*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc*
*.out
*.synctex.gz
*.zip
*.nlo
*.brf
build/
these.pdf
These.pdf
figures/*.pdf
figures/build
